@import 'normalise.css';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background: #e5e5e5;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.header,
.container,
.footer {
  padding: 0 20px;
}
.header {
  width: 100%;
  height: 75px;
  border-bottom: 2px solid #e0e3e4;
  line-height: 75px;
  padding-top: 6px;
  display: grid;
  grid-template-columns: 32px 1fr 32px 52px;
}
.header__nav--desktop {
  display: none;
}
.nav-toggle {
  width: 32px;
  padding-top: 17px;
  cursor: pointer;
}
.nav-toggle span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #04242c;
  margin: 6px 0;
}
.header__logo {
  margin: 10px auto;
}
.profile-link {
  text-align: right;
}
.sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  background: -webkit-gradient(linear, right top, left top, color-stop(15%, #625eb1), color-stop(85%, #2787da));
  background: linear-gradient(-90deg, #625eb1 15%, #2787da 85%);
  color: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar--open {
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.close-nav {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.close-nav:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar__top {
  width: 100%;
  padding: 30px 5%;
  background-image: url("../img/sidebar-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar__city {
  width: 230px;
  margin: 40px auto 0;
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar__city:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar__articles {
  width: 230px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  padding: 20px 0;
  cursor: pointer;
}
.sidebar__articles p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
  text-align: left;
}
.sidebar__articles p img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.sidebar__nav {
  width: 230px;
  margin: 0 auto;
}
.sidebar__nav ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
}
.sidebar__nav ul li {
  margin: 20px 0;
}
.sidebar__nav ul li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar__nav ul li a:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr;
}
.name {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  font-style: normal;
  color: #000;
  margin: 33px 0 0 0;
}
.address {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #819195;
  opacity: 0.7;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.address:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card {
  background: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 32px;
}
.card h2 {
  font-size: 32px;
  font-weight: 300;
  color: #000;
  margin: 0 0;
}
.card p {
  color: #819195;
  font-size: 16px;
  line-height: 20px;
  margin: 24px 0;
}
.card p .card__link {
  color: #819195;
  text-decoration: underline;
  display: inline;
}
.card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 16px;
  color: #3aa4e8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card a img {
  margin-right: 15px;
  display: inline-block;
}
.footer {
  text-align: center;
  margin-top: 32px;
  color: #819195;
  padding: 20px 0;
}
.footer__text {
  font-size: 16px;
  width: 68%;
  margin: 24px auto;
}
.small {
  font-size: 12px;
}
@media (min-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .full-width,
  .profile {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 44px 1fr 1fr 1fr;
  }
  .footer__logo {
    margin-top: 17px;
  }
  .footer__text {
    width: 100%;
    margin: 24px 10px;
    text-align: left;
  }
  .center {
    width: 230px;
    margin: 24px auto;
  }
  .small {
    text-align: right;
    margin: 24px 0;
  }
}
@media (min-width: 1059px) {
  body {
    padding: 0;
    display: grid;
    grid-template-columns: 350px 1fr;
  }
  .header {
    grid-template-columns: 1fr 32px 52px;
  }
  .header__nav--desktop {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .header__nav--desktop ul {
    margin: 0;
    padding: 0;
  }
  .header__nav--desktop li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  .header__nav--desktop a {
    text-decoration: none;
    color: #819195;
    position: relative;
  }
  .header__nav--desktop a.active,
  .header__nav--desktop a:hover {
    color: #000;
  }
  .header__nav--desktop a.accented::after {
    content: "1";
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 10px;
    background: #7634a8;
    position: absolute;
    top: -16px;
    right: -14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
  }
  .sidebar__nav,
  .close-nav {
    display: none;
  }
  .sidebar {
    left: 0;
    position: relative;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .nav-toggle {
    display: none;
  }
  .header__logo {
    display: none;
  }
}
