@import 'normalise.css'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600');

*
  box-sizing border-box

body
  background #E5E5E5
  font-family "Open Sans", sans-serif
  font-size 16px

.header,
.container,
.footer
  padding 0 20px
    
.header
  width 100%
  height 75px
  border-bottom 2px solid #E0E3E4
  line-height 75px
  padding-top 6px
  display grid
  grid-template-columns 32px 1fr 32px 52px

.header__nav--desktop
  display none

.nav-toggle
  width 32px
  padding-top 17px
  cursor pointer

  span
    display block
    width 100%
    height 4px
    border-radius 2px
    background #04242C
    margin 6px 0

.header__logo
  margin 10px auto

.profile-link
  text-align right

.sidebar
  width 100%
  height 100vh
  position fixed
  top 0
  left -100vw
  background linear-gradient(-90deg, #625EB1 15%, #2787DA 85%)
  color #fff
  z-index 10
  transition all 0.3s

.sidebar--open
  left 0
  transition all 0.3s

.close-nav
  cursor pointer
  opacity 0.6
  transition all 0.3s

.close-nav:hover
  opacity 1
  transition all 0.3s

.sidebar__top
  width 100%
  padding 30px 5%
  background-image url('../img/sidebar-logo.svg')
  background-position center
  background-repeat no-repeat

.sidebar__city
  width 230px
  margin 40px auto 0
  text-transform capitalize
  border-bottom 1px solid #fff
  font-size 12px
  font-weight 400
  line-height 30px
  display flex
  justify-content space-between
  opacity 0.6
  transition all 0.3s

.sidebar__city:hover
  opacity 1
  transition all 0.3s

.sidebar__articles
  width 230px
  margin 0 auto
  text-transform uppercase
  font-size 12px
  font-weight 400
  line-height 16px
  border-bottom 1px solid rgba(255, 255, 255, 0.6)
  padding 20px 0
  cursor pointer

  p
    display flex
    margin 25px 0
    text-align left

    img
      width 32px
      height 32px
      margin-right 20px

.sidebar__nav
  width 230px
  margin 0 auto

  ul
    list-style none
    padding 0
    font-size 16px
    font-weight 600
    text-transform uppercase
    padding 10px 0

    li
      margin 20px 0

      a
        color #fff
        text-decoration none
        opacity 0.6
        transition all 0.3s

      a:hover
        opacity 1
        transition all 0.3s

.container
  width 100%
  display grid
  grid-gap 32px
  grid-template-columns 1fr

.name
  font-size 32px
  font-weight 300
  line-height 32px
  font-style normal
  color #000
  margin 33px 0 0 0

.address
  font-size 16px
  font-weight 400
  line-height 32px
  color #819195
  opacity 0.7
  text-decoration none
  transition all 0.3s

.address:hover
  opacity 1
  transition all 0.3s

.card
  background #fff
  width 100%
  border-radius 8px

  padding 32px

  h2
    font-size 32px
    font-weight 300
    color #000
    margin 0 0

  p
    color #819195
    font-size 16px
    line-height 20px
    margin 24px 0

    .card__link
      color  #819195
      text-decoration underline
      display inline

  a
    display flex
    text-decoration none
    font-size 16px
    color #3AA4E8
    align-items center

    img
      margin-right 15px
      display inline-block

.footer
  text-align center
  margin-top 32px
  color #819195
  padding 20px 0

.footer__text
  font-size 16px
  width 68%
  margin 24px auto

.small
  font-size 12px


@import 'nav'

@import 'mediaqueries'
