@media (min-width: 767px)
  .container
    display grid
    grid-template-columns 1fr 1fr

  .full-width,
  .profile
    grid-column-start 1
    grid-column-end 3

  .footer
    padding 0 20px
    display grid
    grid-template-columns 44px 1fr 1fr 1fr

  .footer__logo
    margin-top 17px


  .footer__text
    width 100%
    margin 24px 10px
    text-align left

  .center
    width 230px
    margin 24px auto

  .small
    text-align right
    margin 24px 0

@media (min-width: 1059px)
  body
    padding 0
    display grid
    grid-template-columns 350px 1fr

  .header
    grid-template-columns 1fr 32px 52px

  .header__nav--desktop
    display inline-flex
    font-size 16px
    font-weight 600
    text-transform uppercase

    ul
      margin 0
      padding 0

    li
      list-style none
      display inline-block
      margin-right 30px

    a
      text-decoration none
      color #819195
      position relative

    a.active,
    a:hover
      color #000

    a.accented::after
      content "1"
      width 18px
      height 18px
      color #ffffff
      font-size 10px
      background #7634A8
      position absolute
      top -16px
      right -14px
      box-sizing border-box
      border-radius 50%
      display inline-block

  .sidebar__nav,
  .close-nav
    display none

  .sidebar
    left 0
    position relative
    grid-row-start 1
    grid-row-end 4

  .nav-toggle
    display none

  .header__logo
    display none
